<ion-view view-title="Add Bill">
<ion-content class="has-header padding">
  
  <ion-list>
  <div class="item row">
  <div class="col" >
	<ion-item align="left" ng-repeat="buddy in buddies">
	{{buddy}}
	<input type="number" placeholder="Bill Amt" ng-model="bill[buddy]">
	</div>
  </div>
	</ion-item>
 </ion-list>

 <button class="button button-block button-stable" ng-click="pushBill()">
	Add Bill
</button>
 <button class="button button-block button-stable" ng-click="getBill()">
	Get Bill
</button>
</ion-content>
</ion-view>