<ion-view view-title="{{uevent}}" cache-view="false" hide-back-button="{{hideBackButton}}">
<ion-nav-buttons side="secondary">
      <button class="button" ng-disabled="isDisabled" ng-click="addBill()">
        Add Bill
      </button>
    </ion-nav-buttons>

<ion-content class="has-header padding">
  <ion-list>
  
    <ion-item ng-repeat="item in bills | orderBy:'-bill'" class="item-remove-animate">
     {{item.firstname}}  <span class="badge badge-light">${{item.bill}}</span>
	 
	 <ion-option-button class="button-assertive" ng-disabled="isDisabled"
                             ng-click="edit(item)">
            Edit
     </ion-option-button>
	 
    </ion-item>


	<button class="button button-block button-stable" ng-disabled="isDisabled" ng-click="calculateBill()">
		Final Bill
	</button>
</ion-list>
</ion-content>

<ion-tabs class="tabs-stable tabs-icon-top">
		<ion-tab title="Buddies" icon="ion-ios-people" ng-click="showBuddies()">
		</ion-tab>
		<ion-tab title="Back" icon="ion-chevron-left" ng-click="goBack()">
		</ion-tab>
		<ion-tab title="Reject" icon="ion-close-round" ng-click="reject(eventid)">
		</ion-tab>
		<ion-tab title="Summary" icon="ion-ios-list-outline" ng-click="summary()";
		
</ion-tabs>

</ion-view>
